hr.top-dashed {
    top: 10px;
}
hr.top-dashed, hr.bottom-dashed {
    margin: 0;
    border-top: 1px dashed rgba(0,0,0,0.25);
    border-bottom: 1px dashed rgba(255,255,255,0.25);
    position: absolute;
    bottom: 10px;
    background-color: transparent;
    z-index: 10;
    width: 100%;
    height: 0;
}
hr {
    border: 0;
    background: none;
    outline: 0;
    background-color: #ddd;
    margin: 2em 0;
    *margin: 1em 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}