.inside{
    box-sizing: border-box;
  background-color:#75676F;
  margin-top:200px;
    background-position: center;
    content: cover;
   
   display: flex;
   align-items: center;
   justify-content:center;
}
.inside h2{
    font-size:26px;
color:#af9d61;
}
p{
  color:#F6EDD8;
 text-align: justify;
}
.head-iamge-container{
  height:330px;
  width:600px;
  align-items: center;
  padding:25px 0;
  margin: auto;
 
}

.head-iamge-container img{
 
  height:100%;
  width:100%;
}
@media (max-width:616px){
  .head-iamge-container{
    height:300px;
  width:450px;
  padding:20px 0;
  }
}

.main-body h4{
  color:#af9d61;
  font-family: BazarMedium;
  font-weight: 800;

}

.main-body .dashed-line-box {
  position: relative;
  /* background-color: #ffffff; */
  width: 100%;
  height: 1px;

 border-style: dashed;
 border-color: #E6E1D0;
 border-width: thin medium;
}

.main-body hr.new1 {
  position: absolute;
  margin-top: 8px;
  border-top: 2px ;
  border-color: #E6E1D0;
}

