.card-link{
    position: relative;
        font-size: 12px;
        font-weight: 700;
        padding: 4px 8px 4px 12px;
        margin-left: 12px;
        margin-right: 6px;
        margin-bottom: 4px;
        color: #383A3C !important;
        background-color: #FCFAF7;
        text-decoration: none;
        cursor: pointer;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -o-border-radius-bottomright: 3px;
        border-bottom-right-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        -o-border-top-right-radius: 3px;
        border-top-right-radius: 3px;
        -webkit-box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
        -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        -o-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    }
    .card-link:before {
        content: "";
        float: left;
        position: absolute;
        top: 0;
        left: -12px;
        width: 0;
        height: 0;
        border-color: rgba(0, 0, 0, 0) #FCFAF7 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        border-style: solid;
        border-width: 12px 12px 12px 0;
    }